
<html lang="ja">
<meta charset="utf-8">

<head>
  <title>Open Html</title>
  <link rel="stylesheet" type="text/css" href="search_bar.css">
</head>

<body>
  <div id="box">
  		<button class="btn" id="create">プロジェクトを作成</button> <br>
  		<img class="userimg" id="myimg" src="user.png">
  		<p class="name" id="myname">@薬指</p> <br>
  		<a class="linkbtn" id="logout">ログアウト</a>
  	</div>
    <CENTER>
      <h1> プロジェクトを検索 </h1>
     <dd>
       <form method="get" id="searchform" action=# >
         <input  type="search" name="search" value="" placeholder="検索キーワードを入力" >
         <input  type="submit" name="submit" value="検索">
       </form>
     </dd>
 </CENTER>


</body>

</html>
