<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" type="text/css" href="menu.css">
<div id="wrap">
	<div id="main">
		<div id="content">
			プロジェクト名 <br>
			<input class="tbox" id="name" type="text" /input> <br><br>
			概要 <br>
			<input class="tbox" id="abst" type="text" /input> <br><br>
			求める技術 <br>
			<select class="pdown" id="skill">
				<option value="java">java</option>
				<option value="C">C</option>
				<option value="HTML">HTML</option>
			</select> <br>
			<div id="pmbtn">
				<button class="minibtn" type="plus">+</button>
				<button class="minibtn" type="minus">-</button>
			</div> <br>
			詳細 <br>
			<textarea class="tarea" id="detail"></textarea> <br>
			<input class="sbtn" id="submit" type="submit" /input>
		</div>
	</div>

	<div id="side">
		<button class="btn" id="create">プロジェクトを作成</button> <br>
		<img class="userimg" id="myimg" src="user.png">
		<p class="name" id="myname">@薬指</p> <br>
		<a class="linkbtn" id="logout">ログアウト</a>		
	</div>
<div>
</body>
</html>
