<!DOCTYPE html>
<html lang="ja">
<head>
 <title>プロジェクト詳細 - この指とまれ！</title>
 <meta charset="utf-8">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
 <style type="text/css">
 .intro-field {
 	text-align: center;
 }
 .intro-field p {
 	
 }
 </style>
</head>
<body>
<div>
</div>
<div class="intro-field">
	<h1>プロジェクト名</h1>
	<h3>地球を救いたい</h3>
	<p style="width:320px;word-wrap:break-word">◯■△※◯■△※◯■△※◯■△※◯■△※◯■△※◯■△※◯■△※◯■△※◯■△※◯■△※◯■△※◯■△※◯■△※◯■△※◯■△※◯■△。</p>
</div>
</body>
</html>